.team-hover::before {
	content: ' ';
	position: absolute;
	left: 0;
	height: 100%;
	width: 100%;
	background: linear-gradient(0deg, #2b4f3f, transparent);
}

.team-gradient::before {
	content: ' ';
	position: absolute;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 10;
	background: linear-gradient(0deg, #2b4f3f, transparent 40%);
}

.team-gradient.dark::before {
	background: linear-gradient(0deg, #244335, transparent 40%);
}
